# Ignore sensitive Talos PKI files
controlplane.yaml
worker.yaml
talosconfig
schematic.id

# Ignore large downloaded boot assets
vmlinuz
initramfs.xz
*.iso

# Ignore dynamic Matchbox/dnsmasq configs and logs
matchbox/dnsmasq.conf
matchbox/dnsmasq.log
matchbox/dnsmasq.pid

# Ignore all downloaded TFTP bootloaders except .gitkeep
matchbox/tftp/*
!matchbox/tftp/.gitkeep
matchbox/data/profiles/*.json
!matchbox/data/profiles/*.json.template
matchbox/data/groups/*.json
.talos-secrets.dec.yaml
